@charset "UTF-8";

/* PCだけ表示 */
.visible_l,img.visible_l,span.visible_l,br.visible_l,td.visible_l,th.visible_l,tr.visible_l,table.visible_l {
	display: block !important;
}

/* SPだけ表示 */
.visible_s {
	display: none !important;
}



/*----------------------------- 
	サブページ　共通ナビゲーション
----------------------------- */

div#sub_navi{
	clear:both;
	background:url(../images/common/a_nav_back.png)repeat-x;
	margin:0 0 20px 0;
}


div#sub_navi_inner{
	text-align:right;
	width:1011px;
	height:101px;
	margin:0 auto;
	background:url(../images/common/sab_nav.jpg) no-repeat;
	padding:10px 15px 0 0;
	font-size:14px;
}

div#sub_navi_inner ul{
	text-align:left;
	margin:0 0 0 130px;
}

div#sub_navi_inner ul li{
	width:220px;
	float:left;
}

div#sub_navi_inner a{
	color:#333;
	text-decoration:none;
}

div#sub_navi_inner a:hover{
	text-decoration:underline;
}



/*----------------------------- 
ページトップ
----------------------------- */

#pagetop {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#pagetop img{
    width:auto;
}


/*----------------------------- 
	パンクズナビ
----------------------------- */

.navi_pan{
	font-size:12px;
	margin:0 0 10px 0;
}

.navi_pan a{
	color:#000066;
}


/*----------------------------- 
		コンテナ
----------------------------- */

#contents{
	width:1024px;
	margin:0 auto;
}

#main{
	width:675px;
	float:right;
	margin:0 15px 0 0;
}

h2.line01{
	background:url(../images/common/sub-title.jpg) no-repeat;
	width:675px;
	height:40px;
	color:#000066;
	padding:20px 0 0 60px;
	font-size:24px;
	margin:0 0 20px 0;
}


h3.line02{
	font-size:18px;
	margin:10px auto;
	width:auto;
	height:auto;
 padding: .5em .75em;
  background: -webkit-linear-gradient(top, #69b4e6 0%, #3498db 100%);
  background: linear-gradient(to bottom, #69b4e6 0%, #3498db 100%);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}


#main p{
	margin:0 0 20px 0;
}


h3.sub-title01{
	margin:10px 0 10px 0;
	padding:0;
	font-size:16px;
	line-height:150%;
	color:#ff6699;
}
h3.sub-title01 a{
	color:#339900;
	text-decoration:none;
}


.koe2{
	width:650px;
}
	.koe2 p{
		font-size:14px;
		color:#666666;
		line-height:150%;
		border: 2px #ff9999 dotted;
		padding:5px;
	}
	.koe2 a{
		float:right;
	}
	
.koe3{
	width:650px;
}
	.koe3 p{
		font-size:14px;
		color:#666666;
		line-height:1.7;
		border: 2px #ff9999 dotted;
		padding:5px;
	}
	.koe3 a{
		float:right;
	}

.k_img{
	margin:15px 10px 0 0;
	float:left;
}


.yogore2{
	line-height: 1.7;
}


.tejun{
	width:692px;
	height:auto;
	clear:both;
	background-color:#ffffff;
	}
	.tejun img{
		margin:2px;
		}
	.tejun p{
		padding:10px 0 0 10px;
		}


.tejun_sentaku{
	width:210px;
	float:left;
}

.tejun_sentaku2{
	width:460px;
	float:left;
}

.tejun_sentaku_r2{
	width:460px;
	float:right;
}
.tejun_l{
	width:255px;
	float:left;
}

.tejun_l2{
	width:395px;
	float:left;
}
.tejun_l3{
	width:200px;
	float:left;
}
.tejun_l4{
	width:380px;
	float:left;
}
.tejun_l5{
	width:430px;
	float:left;
}
.tejun_r{
	width:395px;
	float:right;
}

.tejun_r2{
	width:185px;
	float:right;
}

.tejun_r3{
	width:460px;
	float:right;
}	
.tejun_r4{
	width:435px;
	float:right;
	
}		
.tejun_r420{
	width:420px;
	float:right;
}


.tejun_l_200{
	width:200px;
	float:left;
	margin:10px 0 15px 10px;
}
.tejun_r_450{
	width:450px;
	float:left;
	margin:10px 0 15px 10px;
}
.tejun_r_480{
	width:470px;
	float:right;
}

.tejun_waku{
	width:692px;
	height:auto;
	clear:both;
	background-color:#ffffff;
	margin:10px 0 15px 0;
	font-size:12px;
	line-height:120%;
}
	.tejun_waku p{
		padding:10px 0 0 20px;
		}
	.tejun_waku img{
		margin:10px;
		}
	.tejun_waku strong{
		color:#3333cc;
                font-size:14px;
		}
	.tejun_waku strong.red{
		color:#cc0000;
                font-size:12px;
		}


div.back_index{
	clear:both;
	margin:50px 0 0 0;
	text-align:center;
}

.k_img{
	margin:15px 10px 0 0;
	float:left;
}

.tejun_img{
	margin:0 0 20px 30px;
	font-size:10px;
	float:left;
	width:150px;
	line-height:120%;
}

hr.sep{
	width: 675px;
	border: none;
	border-top: dashed thin gray;
}


.shop_guide{
	width: 635px;
	margin:20px auto 0 auto;
}

.box-kadomaru{
	width:675px;
	background:#e5f6fe url(../images/common/kadomaru_01.gif) no-repeat top;
	margin:0 0 10px 0;
}
.box-kadomaru-text{
	width:570px;
	float:left;
}
.box-kadomaru-text a{
	text-decoration:none;
}

.box-kadomaru-img{
	width:100px;
	text-align:center;
	margin:15px 0 0 0;
	float:left;
}

.kiji_bun{
	width:610px;
	height:auto;
	margin:20px 20px;
	line-height:200%;
	font-size:14px;
	}

.kiji_bun2{
	width:650px;
	height:auto;
	margin:10px 10px!important;
	line-height:200%;
	font-size:16px;

	}
	
.daiji{
	width:400px;
	height:auto;
	float:right;
	font-size:14px;
	font-weight:700;
	margin-top:40px;
	}


.kiji_shomei{
	width:450px;
	height:auto;
	margin:20px 100px;
	line-height:180%;
	font-size:14px;
	font-weight:700;
	}


/*----------------------------- 
		商品紹介
----------------------------- */

div.item{
	background:url(../images/common/item_back.jpg) no-repeat;
	width:674px;
	height:411px;
	margin:0 0 50px 0;
}

div.item img.item1{
	margin:185px 0 0 110px;
	float:left;
}

div.item img.item2{
	margin:185px 0 0 120px;
}

div.item img.item3{
	margin:110px 0 0 110px;
	float:left;
}
div.item img.item4{
	margin:110px 0 0 135px;
}


/*----------------------------- 
		サイドメニュー
----------------------------- */

#side_menu{
	width:300px;
	float:left;
}

#side_menu a{
	text-decoration:none;
	color:#333;
}

#side_menu a:hover{
	text-decoration:underline;
}

#side_menu div.tokushuu_heyaboshi,
#side_menu div.tokushuu_oosouji{
	background:url(../images/common/tokushuu_heyaboshi.jpg) no-repeat;
	width:300px;
	height:99px;
	font-weight:bold;
	font-size:15px;
	margin:10px 0 0 0;
	position:relative;
}

#side_menu div.tokushuu_air a,
#side_menu div.tokushuu_heyaboshi a,
#side_menu div.tokushuu_oosouji a{
	position:absolute;
    top:0;
    left:0;
    right:0;
	bottom:0;
	color:#333;
}

#side_menu div.tokushuu_air a span,
#side_menu div.tokushuu_heyaboshi a span,
#side_menu div.tokushuu_oosouji a span{
	display:block;
	margin:10px 0 0 135px;
	text-decoration:none;
	float:left;
}

#side_menu div.tokushuu_air a span:hover,
#side_menu div.tokushuu_heyaboshi a span:hover,
#side_menu div.tokushuu_oosouji a span:hover{
	text-decoration:underline;
}

#side_menu div.tokushuu_air{
	background:url(../images/common/tokushuu_air.jpg) no-repeat;
	width:300px;
	height:99px;
	font-weight:bold;
	font-size:15px;
	margin:15px 0 40px 0;
	position:relative;
}
#side_menu div.tokushuu_oosouji{
	background:url(../images/common/tokushuu_oosouji.jpg) no-repeat;
}

/*-------タブメニュー ---------*/


div#ui-tab div{
	font-weight:bold;
	font-size:14px;
	padding:5px 2px 5px 5px;
	margin:0 0 40px 0;
	
}

div#ui-tab div#fragment-1 span{
	font-size:12px;
	color:#027acc;
	padding:2px 5px;
	background:#D6FCF9;
}

div#ui-tab div#fragment-2 span{
	font-size:12px;
	color:#f77500;
	padding:2px 5px;
	background:#FFEFDA;
}

div#ui-tab div#fragment-3 span{
	font-size:12px;
	color:#ffffff;
	padding:2px 5px;
	background:#e2c122
}

div#ui-tab div#fragment-4 span{
	font-size:12px;
	color:#02c8c2;
	padding:2px 5px;
	background:#e8fcfb;

}

div#ui-tab div ul{
	list-style:none;
	margin:0;
}

div#ui-tab div#fragment-1 ul li{
	background:url(../images/common/li_mark_blue.png) no-repeat 0 0.6em;
	padding:0 0 0 11px;
}

div#ui-tab div#fragment-2 ul li{
	background:url(../images/common/li_mark_org.png) no-repeat 0 0.6em;
	padding:0 0 0 11px;
}

div#ui-tab div#fragment-3 ul li{
	background:url(../images/common/li_mark_yellow.png) no-repeat 0 0.6em;
	padding:0 0 0 11px;
}

div#ui-tab div#fragment-4 ul li{
	background:url(../images/common/li_mark_green.png) no-repeat 0 0.6em;
	padding:0 0 0 11px;

}


div#ui-tab div ul li.l{
	float:left;
	width:130px;
}

div#ui-tab div ul li.r{
	float:right;
	width:135px;
}

.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 0;
	border:1px solid #ccc;
	width:73px;
    
	text-align:center;
	border-radius: 10px 10px 0 0 / 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
	font-size:15px;
}

.ui-tabs-nav li:first-child a span {
    color:#027acc;
}

.ui-tabs-nav li:first-child + li a span {
    color:#f77500;
}

.ui-tabs-nav li:first-child + li + li a span {
    color:#e9a902;
}

.ui-tabs-nav li:last-child a span {
    color:#02c8c2;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
}
.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 28px; /* IE 6 treats height as min-height */
    min-height: 28px;
    padding-top: 7px;
    padding-right: 0;
	box-sizing:border-box;
	
}

.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
	border-bottom:1px solid #ffffff;
}

.ui-tabs-panel {
    border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
    padding: 1em 8px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}

/* -----------------------------------------*/

#side_menu ul.ranking{
	margin-bottom:20px;
}




#side_menu ul.ranking li{
	clear:both;
	border-bottom:1px dashed #8c8989;
	padding:10px 0;
	line-height:140%;
}



#side_menu ul.ranking li.end{
	border:0;
}

#side_menu ul.ranking li a{
	font-size:15px;
	font-weight:bold;
	margin-top:5px;
	display:block;
}


#side_menu ul.ranking img{
	float:left;
	margin-right:5px;
}

div.review_box{
	background:url(../images/common/review_back.png) no-repeat 10px 0 ;
	width:220px;
	height:237px;
	font-size:13px;
	padding:20px 40px 0 40px;
	line-height:160%;
	margin:15px auto 0 auto;
}

div.infomation{
	-moz-border-radius:10px;    /* 古いFirefox */
   -webkit-border-radius: 10px; /* 古いSafari,Chrome */
   border-radius: 10px;
   background:#fefbe4;
   text-align:center;
   padding:10px;
   margin:20px 0;
}

div.infomation_inner{
	-moz-border-radius:10px;    /* 古いFirefox */
   -webkit-border-radius: 10px; /* 古いSafari,Chrome */
   border-radius: 10px;
   background:#fff;
   text-align:left;
}

div.infomation_inner ul li{
	background:url(../images/common/li_mark.png) no-repeat 1.0em 0.9em ;
	padding:10px 0 10px 40px;
	border-bottom:1px dashed #ccc;
	margin:0 0 -1px 0;
}

/*----------------------------- 
		フッター　サイトマップ
----------------------------- */

div#footer_sitemap{
	background:#ffffed;
}

div#footer_sitemap a{
	color:#333;
	text-decoration:none;
}

div#footer_sitemap a:hover{
	text-decoration:underline;
}


div#footer_sitemap_inner{
	width:980px;
	margin:30px auto;
	background:#ffffed;
	text-align:center;
}

div#footer_sitemap div.sitemap_box{
	-moz-border-radius:10px;    /* 古いFirefox */
   -webkit-border-radius: 10px; /* 古いSafari,Chrome */
   border-radius: 10px;
   background:#fff;
   float:left;
   margin:20px 40px 0 0;
}

.w270{
	width:270px;
}

.w320{
	width:320px;
}

footer{
	text-align:center;
	font-size:14px;
}

footer a{
	color:#333;
	text-decoration:none;
}

footer a:hover{
	text-decoration:underline;
}

div#footer_sitemap div.sitemap_box ul{
	text-align:left;
	margin: 0 0 20px 0;
}
div#footer_sitemap div.sitemap_box ul li{
	background:url(../images/common/to.png) no-repeat 0 0.1em ;
	color:#333;
	padding:0 0 0 20px;
	font-size:14px;
	margin:5px 0 0 40px;
}

div#footer_sitemap div.sitemap_box ul li.title{
	background:url(../images/common/li_mark2.png) no-repeat 0 0.3em ;
	color:#f94f04;
	padding:0 0 0 20px;
	font-size:20px;
	margin:20px 0 0 20px;
}


div#footer_form{
	background:#008bd6;
	
}

div#footer_form_inner{
	background:url(../images/common/footer_back.png) no-repeat;
	width:1008px;
	height:208px;
	margin:0 auto;
}

div#footer_form_inner img{
	margin:90px 0 0 500px;
}

div#footer_bottom{
	background:#f2f2f2;
	margin:0 0 20px 0;
}

div#footer_bottom div.company{
	float:left;
	width:500px;
}

div#footer_bottom_inner{
	width:1024px;
	margin:0 auto;
	padding:30px 0;
	color:#000;
	font-size:12px;
	line-height:140%;
}

div#footer_bottom_inner ul{
	float:right;
}

div#footer_bottom_inner ul li{
	background:url(../images/common/yajirushi.png) no-repeat 0 0;
	font-size:12px;
	width:130px;
	float:left;
	padding:0 0 0 10px;
	line-height:120%;
	font-weight:bold;
	text-align:left;
}

/*----------------------------- 
お知らせ
----------------------------- */

.oshirase{
	width: 94% !important;
	background:#FFFFE8;
	border:1px  #999 solid;
	text-align:left;
	margin:10px auto 10px auto;
	padding:10px;
	font-size:14px;
}

#side_menu div.oshirase2{
	width: 85% !important;
	background:#FFFFE8;
	border:1px  #999 solid;
	text-align:left;
	margin:10px auto 5px auto;
	padding:10px;
	font-size:14px;
	line-height:150%;
}

#side_menu div.oshirase2 p{
	line-height:150%;
}

#side_menu div.oshirase2 p span.url a{
	line-height:150%;
	color:#0076bc!important;
}

