
/*-----------------------------
“X•Ü
----------------------------- */


.tenpo_base{
	line-height: 1.7 !important;
	font-size: 18px;
}


table.list{
	color: gray;
	font-size: 18px;
}

table.list tr{
	height: 40px;
}

table.list td{
	width: 80px;
}

table.detail{
	margin-left: 10px;
	clear: both;
	width: 660px;
	line-height: 160%;
}

table.detail td{
	border-bottom: 1px dotted gray;
}

table.detail td.head{
	border-bottom: none !important;
}

table.detail tr{
	height: 50px;
}

table.tenpo{
	width: 675px;
	padding: 10px;
	line-height: 160%;
 	text-align: center;
	border: solid 1px #FF9900;
	background-color: #FFFFCC;
	border-collapse: collapse;
}

table.tenpo th, table.tenpo td{
	border:solid 1px #FF9900;
	padding: 5px 0;
}

.municipality{
	margin-top: 20px;
	color: white;
	background-color: #33bb33;
	height: 35px;
	font-size: 20px;
	width: 675px;"
}

.municipality_tenpo{
	font-size: 16px;
	width: 250px;
	font-weight: bolder;
	line-height: 2;
	height: 80px;
}

.municipality_address{
	font-size: 16px;
	width: 405px;
	line-height: 2;
}
