@import "ini.scss";
@import "common.scss";

header{
    position: relative;
    background: #fff;
    z-index: 999;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-cntent: center;
        font-size: 15px;
        a{
            display: block;
            padding: 20px 15px;
        }
    }
}

.header_inner{
    background: #fff;
}

.clear{
    position: absolute;
    transform: translate3d(-31%, 15%, 20px);
    width: 75vw;
}

.logo{
    position: absolute;
    width: 70vw;
    top: 2%;
    right: 5%;
    z-index: 999;
}