@charset "utf-8";

/*-----------------------------
	油汚れ
----------------------------- */
.yogore{
}
img.f-right{
	float:none;
	text-align:center;
	width:auto;
	height:auto;
}
h3.abura{
	width:96%;
	background-color:#fbcbaa;
	padding:5px 2%;
	text-align:center;
}
.abura_navi,
.abura_navi3{
	margin:20px auto 30px auto;
	width:98%;
	border:#fbcbaa solid 1px;
	padding:0 0 10px 0;
}

.abura_navi_in{
	width:48%;
	padding:0 1%;
	margin:10px auto 0 auto;
	text-align:center;
	float:left;
	font-size:90%;
	line-height: 1.5;
}

.abura_navi_in a{
	text-decoration:none;
}

.page_nave{
	width:100%;
	margin:30px 0 30px 0 !important;
}

.page_nave img{
	margin-right:5px;
}

.abura_navi_index1{
	background-color:#F0F0F0;
	border-top:1px solid #CCCCCC;
}

.abura_navi_index2{
	border-top:1px solid #CCCCCC;
}

.abura_navi2{
	margin:20px auto 30px auto;
	width:98%;
	border:#89d070 solid 1px;
}

.abura_navi_in2{
	margin-top:15px;
	width:150px;
	float:left;
	padding-left:20px;
}

.abura_navi_index_text{
	padding: 5px 2%  5px 2%;
	height:auto;
	float:left;
	width:96%;
}

.abura_navi_index_text a{
	text-decoration:none;
}


.abura_navi_index_img{
	padding: 5px 2%  5px 2%;
}

.abura_navi_in3{
	margin:15px auto;
	width:98%;
}
.abura_navi_text2{
	padding: 5px 2%  5px 2%;
	height:auto;
	float:left;
	width:96%;
	font-size:85%;
}

.abura_navi_text2 a{
	text-decoration:none;
}

.page_nave2{
	margin:10px 0 10px 5px;
}

.page_nave2 img{
	margin-right:5px;
}

.sentaku{
	line-height: 2;
}

img.border{
	border: dotted thin black;
}

.kotu{
	width:85% !important;
	height:auto;
	color:#DB0000;
	font-size:14px;
	line-height:160%;
	margin:10px auto;
	border:1px solid #FBCBAA;
	padding:5px;
	background:none !important;
}

.kotu p{
	margin:15px 0 0 0 !important;
	padding:0 !important;
}

.memo_title{
	color:#3333cc;
	font-size:18px;
	margin: 10px 0 20px 0;
	font-weight:bold;
}

.abura_base{
	line-height: 1.7 !important;
	font-size: 14px;
}

img.w75{
	width:75px;
}

.description .ml50{
	margin-left:0 !important;
}


/*----------------------------- 
きれいッ粉　使い方事例集		
----------------------------- */


div#tab3 h3{
	border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */  
	background:#e9a902;
	padding:5px 0;
	text-align:center;
	color:#ffffff;
	
}

div.jirei_box{
	border-radius: 20px;        /* CSS3草案 */  
    -webkit-border-radius: 20px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 20px;  
	border:1px solid #CCC;
	position:relative;
	top:5px;
	margin:0 0 50px 0;
	padding:10px 0 0 0;
	left:5px;
	box-sizing:border-box;
	width:96%;
}


div.jirei_box div{
	width:85%;
	margin:5px;
	padding:10px;
}


div.jirei_box ul{
	font-size:14px;
	margin:10px 0 0 3px;
	line-height:160%;
}


div.jirei_box ul li{
	padding:0 0 0 11px;
	margin:0 0 20px 0;
}

div.jirei_box ul li span{
	color:#f872ea;
}

div.jirei_box ul li a{
	color:#333;
	text-decoration:none;
}

div.jirei_box ul li a:hover{
	text-decoration:underline;
}


div#tab3 div.jirei_box ul li{
	background:url(../images/common/li_mark_yellow.png) no-repeat ;
	
}

div.jirei_midashibox{
	padding:10px;
	margin:0 auto;
}



div.jirei_midashibox table{
	width:100%;
	margin:0 auto 20px auto;
	border-collapse:collapse;
}



div.jirei_midashibox table td{
	width:30%;
	border:1px solid #025783;
	padding:10px;
	font-size:13px;
	background: #ffffff url(../images/common/yajirushi03.png) no-repeat 95% 50%;
	background-size:8px auto;
	line-height:120%;
	height:30px;
}
